* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

#github-logo-wrapper {
    text-align: center;
    margin-top: 5%;
}

.github-logo {
    width: 50px;
    height: 45px;
    transition: 0.5s;
}

.github-logo:hover {
    transform: translateY(-5px);
}

#board-wrapper {
    position: relative;
    text-align: center;
}

.board {
    display: inline-block;
}

#Turn-tracker {
    padding: 2%;
}

.row {
    display: flex;
}

.square {
    position: relative;
    text-align: center;
}

button {
    width: 70px;
    height: 70px;
}

button:hover, .piece:hover {
    cursor: pointer;
}

.piece {
    position: absolute;
    top: 5px;
    left: 5px;
}

.row-label-left {
    width: auto;
    height: 70px;
    margin-right: 10px;
    padding-top: 25px;
    background-color: grey;
    color: white;    
}

.row-label-right {
    width: auto;
    height: 70px;
    margin-left: 10px;
    padding-top: 25px;
    background-color: grey;
    color: white;    
}

.col-label-top {
    width: 560px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: white;
}

.col-label-bottom {
    width: 560px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: white;
}

#undo {
    padding-top: 2%;
}

#undo button {
    background-color: white;
    border-radius: 10%;
    color: rgb(12, 2, 2);
    -webkit-appearance: none;
}

@media screen and (max-width: 430px){
    button {
        width: 40px;
        height: 40px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    .row-label-left {
        height: 40px;
        margin-right: 5px;
        padding-top: 10px;
    }
    
    .row-label-right {
        height: 40px;
        margin-left: 5px;
        padding-top: 10px;
    }

    .col-label-top, .col-label-bottom {
        width: 320px;
        margin-left: 14px;
    }
}

@media screen and (max-width: 600px) and (min-width:430px){
    button {
        width: 50px;
        height: 50px;
    }

    img {
        width: 40px;
        height: 40px;
    }

    .row-label-left {
        height: 40px;
        margin-right: 10px;
        padding-top: 17px;
    }
    
    .row-label-right {
        height: 40px;
        margin-left: 10px;
        padding-top: 17px;
    }

    .col-label-top, .col-label-bottom {
        width: 395px;
        margin-left: 21px;
    }
}