* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

#board-wrapper {
    position: relative;
    text-align: center;
    margin-top: 10rem;
}

.board {
    display: inline-block;
}

.row {
    display: flex;
}

.square {
    position: relative;
    text-align: center;
}

button {
    width: 70px;
    height: 70px;
}

button:hover, .piece:hover {
    cursor: pointer;
}

.piece {
    position: absolute;
    top: 5px;
    left: 5px;
}

@media screen and (max-width: 430px){
    button {
        width: 40px;
        height: 40px;
    }
}