* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

#board-wrapper {
    position: relative;
    text-align: center;
    margin-top: 10rem;
}

.board {
    display: inline-block;
}

.row {
    display: flex;
}

.square {
    position: relative;
    text-align: center;
}

button {
    width: 70px;
    height: 70px;
}

button:hover, .piece:hover {
    cursor: pointer;
}

.piece {
    position: absolute;
    top: 5px;
    left: 5px;
}

.row-label {
    width: auto;
    height: 70px;
    margin-right: 10px;
    padding-top: 25px;
    background-color: grey;
    color: white;    
}

.col-label {
    width: 560px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: white;
}

#Turn-tracker {

}

@media screen and (max-width: 430px){
    button {
        width: 40px;
        height: 40px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    .row-label {
        height: 40px;
        margin-right: 10px;
        padding-top: 10px;
   
    }
    
    .col-label {
        width: 320px;
        margin-left: 20px;
    }

}
